
<html>
<body>
  <form action="formsubmission" method="post">
    <table>
       <tr><td><td>Americano</td><input type="hidden" name="code" value="100"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td><input type="hidden" name="code" value="200"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td><input type="hidden" name="code" value="300"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td><input type="hidden" name="code" value="400"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td><input type="hidden" name="code" value="500"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td><input type="hidden" name="code" value="100"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td colspan="2"><input type="submit" value="Go"/></td></tr>
    <table>
  </form>
</body>
</html>